#outlineBg{
    background-color: darkgray;
    min-height: 1500px;
}
#about{
    min-height: 1500px;  
}
#nomen{
    color:brown;
    padding: 10px;
    font-size: 15pt;
}
#categoryElement{
    color:white;
}
.question{
    padding:10px;
}